$dark-white: #f5f5f5;
$darker-white: #d7d7d7;
$white: #ffffff;
$black: #000000;
$pink: #dd2a7b;
$dark-pink: #9f1e58;
$yellow: #feda77;
$orange: #f58529;
$dark-purple: #701aa3;
$purple: #945be0;
$dark-blue: #202dcc;
$grey: #eaeaea;
$dark-grey: #1f1f1f;
$semi-grey: #949494;

$gradient: radial-gradient(
  170.88% 167.2% at 0% 125.3%,
  $yellow 5.71%,
  $orange 24.07%,
  $pink 52.19%,
  $dark-purple 75%,
  $dark-blue 93.66%
);
