@use "colors";
@use "typography";
@use "button-mixins";
@use "control-mixin.scss";

@mixin form-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20vh 12vw 5vh 12vw;
  width: 60%;

  mat-divider {
    margin: 30px 0;
  }
  .form {
    width: 100%;
    max-width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__controls {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__control {
      @include control-mixin.control-styles;
    }

    &__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .welcome-text {
    font-weight: typography.$font-weight-regular;
    font-size: 40px;
    margin-top: 0;
  }

  .text--bold {
    font-weight: typography.$font-weight-regular;
    font-size: 16px;
    line-height: 25px;
  }
  .text--purple {
    color: colors.$purple;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: colors.$dark-purple;
    }
  }

  .button {
    @include button-mixins.button-styles;
    background-color: colors.$pink;
    color: colors.$white;
    border: 1px solid transparent;
    transition: 0.2s;

    &:hover {
      background-color: colors.$dark-pink;
    }
  }
}

@mixin form-styles-mobile {
  @media screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vh 10vw;
    width: 100%;
    color: colors.$white;

    mat-divider {
      background-color: colors.$white !important;
    }

    .form {
      &__control {
        &--input {
          border: none;
          background-color: rgba(colors.$white, 0.2);
          color: colors.$white;

          &:focus {
            background-color: rgba(colors.$white, 0.3);
          }
        }
      }

      &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .text--purple {
      color: colors.$white;
      text-decoration: underline;
      font-weight: typography.$font-weight-bold;

      &:hover {
        color: colors.$purple;
      }
    }

    .button {
      @include button-mixins.button-styles;
      background-color: transparent;
      color: colors.$white;
      border: 1px solid colors.$white;
      transition: 0.2s;
      border-radius: 0px;
      width: 100%;

      &:hover {
        background-color: transparent;
        border-color: colors.$darker-white;
        color: colors.$darker-white;
      }
    }
  }
}
