@use "colors";
@use "button-mixins";
@use "typography";

:host {
  display: flex;
  align-items: center;
}

.coin__wrapper {
  margin-right: -20px;
  z-index: 2;
  position: relative;
}

.amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: colors.$white;
  font-size: 20px;
}

.buy-coins-button {
  @include button-mixins.button-styles;
  color: colors.$black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: typography.$font-weight-bold;
  padding-right: 10px;
  border-color: colors.$grey;
  box-shadow: 2px 0px 5px 0px colors.$grey;
  span {
    margin-right: 10px;
  }

  span,
  i {
    transition: 0.2s;
  }

  &:hover,
  &:focus {
    span,
    i {
      color: colors.$pink !important;
    }
  }
}
