<div class="coin__wrapper">
  <svg
    width="75"
    height="75"
    viewBox="0 0 51 51"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="coin"
  >
    <circle
      cx="25.3533"
      cy="25.3533"
      r="24.8533"
      fill="url(#paint0_radial_226_565)"
      stroke="black"
    />
    <g filter="url(#filter0_i_226_565)">
      <circle
        cx="25.3533"
        cy="25.3535"
        r="21.9155"
        fill="url(#paint1_radial_226_565)"
      />
    </g>
    <circle cx="25.3533" cy="25.3535" r="21.4155" stroke="black" />
    <defs>
      <filter
        id="filter0_i_226_565"
        x="3.43774"
        y="3.43799"
        width="47.8311"
        height="47.8311"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dx="4" dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="shape"
          result="effect1_innerShadow_226_565"
        />
      </filter>
      <radialGradient
        id="paint0_radial_226_565"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(-15.1467 72.7073) rotate(-58.1132) scale(131.282 104.036)"
      >
        <stop offset="0.0571154" stop-color="#FEDA77" />
        <stop offset="0.240722" stop-color="#F58529" />
        <stop offset="0.521868" stop-color="#DD2A7B" />
        <stop offset="0.75" stop-color="#701AA3" />
        <stop offset="0.936576" stop-color="#202DCC" />
      </radialGradient>
      <radialGradient
        id="paint1_radial_226_565"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(-9.65517 66.2867) rotate(-58.1132) scale(113.481 89.9295)"
      >
        <stop offset="0.0571154" stop-color="#FEDA77" />
        <stop offset="0.240722" stop-color="#F58529" />
        <stop offset="0.521868" stop-color="#DD2A7B" />
        <stop offset="0.75" stop-color="#701AA3" />
        <stop offset="0.936576" stop-color="#202DCC" />
      </radialGradient>
    </defs>
  </svg>
  <span class="amount">20</span>
</div>

<a class="buy-coins-button" (click)="buyCoins()"
  ><span>Buy coins</span>
  <i class="fa-solid fa-plus fa-xl" style="color: #000000"></i>
</a>
