<app-brand-section class="brand-panel--desktop"></app-brand-section>
  <app-logo class="logo--mobile" [width]="'250'" [height]="'auto'" [routerLink]="'/'"></app-logo>

<section class="form-container">
  <h1 class="welcome-text">Welcome!</h1>
  <form class="form">
    <div class="form__controls">
      <div class="form__control">
        <label for="" class="form__control--label">Login</label>
        <input class="form__control--input" type="text">
      </div>
      <div class="form__control">
        <label for="" class="form__control--label">Password</label>
        <input class="form__control--input" type="password">
      </div>
      <a class="button" type= "submit" (click)="onLogin()">Sign in</a>
    </div>
    <mat-divider></mat-divider>


    <div class="form__buttons">
      <p class="text--bold">
        Forgot your password?
        <span class="text--bold text--purple" (click)="forgotPassword()"
          >Click here!</span
        >
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="form__buttons">
      <app-google-login-button></app-google-login-button>
      <app-github-login-button></app-github-login-button>
    </div>
    <mat-divider></mat-divider>
    <div class="form__buttons">
      <p class="text--bold">
        No account?
        <span class="text--bold text--purple" [routerLink]="['/signup']"
          >Click here!</span
        >
      </p>
    </div>
  </form>
</section>
