@use "colors";
@use "typography";


:host {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;
}

.header {
    &--circle {
        background-color: aqua;
        height: 40px;
        width: 40px;
        display: inline-block;
        border-radius: 50%;
        
          img {
            width: 100%;
            height: 100%;
        }
    }

    &--username {

    }
}
