<div class="header">
  <div class="header__left">
    <div class="header__circle">
      <img src="assets/images/avatar-placeholder.png" alt="" />
    </div>
    <span class="header__username">Username</span>
  </div>
  <div class="header__right">
    <i class="fa-solid fa-ellipsis" style="color: #000000"></i>
  </div>
</div>
<div class="image">
  <img src="assets/images/post-image-placeholder.png" alt="" />
</div>
<div class="description">
  <div class="description__icons">
    <div class="description__icons--left">
      <i class="fa-regular fa-heart fa-lg" style="color: #000000"></i>
      <i
        class="fa-regular fa-comment fa-flip-horizontal fa-lg"
        style="color: #000000"
      ></i>
      <i class="fa-regular fa-paper-plane fa-lg" style="color: #000000"></i>
    </div>
    <div class="description__icons--right">
      <i class="fa-regular fa-bookmark fa-lg" style="color: #000000"></i>
    </div>
  </div>
  <div class="description__likes">
    <p>
      {{ "displayedPost.description.likedBy" | transloco }}
      <span class="description__likes--bold">random-user</span>
      {{ "displayedPost.description.and" | transloco }}
      <span class="description__likes--bold">{{
        "displayedPost.description.others" | transloco
      }}</span>
    </p>
  </div>
  <p class="description__text">
    <span class="description__text--username">Username &nbsp;</span>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
      dolores cupiditate consequatur harum ullam distinctio rerum veritatis
      quaerat modi illo aliquam ea illum odio saepe beatae in quas, temporibus
      delectus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
      inventore voluptate nihil cupiditate sint illo! Reiciendis iure vero
      dolores laboriosam! Eveniet beatae, itaque voluptatum soluta vitae
      recusandae dolor aspernatur molestias! Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Voluptate repudiandae nihil necessitatibus,
      quas iusto deserunt sequi cumque exercitationem odio! Repellendus
      accusamus iste hic ut in quaerat eos repudiandae rerum repellat!LoremLorem
      ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores
      cupiditate consequatur harum ullam distinctio rerum veritatis quaerat modi
      illo aliquam ea illum odio saepe beatae in quas, temporibus delectus!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe inventore
      voluptate nihil cupiditate sint illo! Reiciendis iure vero dolores
      laboriosam! Eveniet beatae, itaque voluptatum soluta vitae recusandae
      dolor aspernatur molestias! Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptate repudiandae nihil necessitatibus, quas iusto
      deserunt sequi cumque exercitationem odio! Repellendus accusamus iste hic
      ut in quaerat eos repudiandae rerum repellat!LoremLorem ipsum dolor sit
      amet consectetur adipisicing elit. Accusantium dolores cupiditate
      consequatur harum ullam distinctio rerum veritatis quaerat modi illo
      aliquam ea illum odio saepe beatae in quas, temporibus delectus! Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Saepe inventore
      voluptate nihil cupiditate sint illo! Reiciendis iure vero dolores
      laboriosam! Eveniet beatae, itaque voluptatum soluta vitae recusandae
      dolor aspernatur molestias! Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptate repudiandae nihil necessitatibus, quas iusto
      deserunt sequi cumque exercitationem odio! Repellendus accusamus iste hic
      ut in quaerat eos repudiandae rerum repellat!LoremLorem ipsum dolor sit
      amet consectetur adipisicing elit. Accusantium dolores cupiditate
      consequatur harum ullam distinctio rerum veritatis quaerat modi illo
      aliquam ea illum odio saepe beatae in quas, temporibus delectus! Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Saepe inventore
      voluptate nihil cupiditate sint illo! Reiciendis iure vero dolores
      laboriosam! Eveniet beatae, itaque voluptatum soluta vitae recusandae
      dolor aspernatur molestias! Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Voluptate repudiandae nihil necessitatibus, quas iusto
      deserunt sequi cumque exercitationem odio! Repellendus accusamus iste hic
      ut in quaerat eos repudiandae rerum repellat!Lorem</span
    >
  </p>
</div>
