@use "colors";
@use "typography";
@use "button-mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  padding: 40px 0;
}

.title {
  font-size: 18px;
  font-weight: typography.$font-weight-bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  font-weight: typography.$font-weight-regular;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__control {
    .prompt-control {
      width: 100%;
    }
  }
}

.options {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  justify-content: space-between;

  &__section {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;

    .option-control {
      width: 100%;
    }
  }
}

mat-expansion-panel {
  margin: 20px 0;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  .button {
    @include button-mixins.button-styles;
    border-color: transparent;
    background-color: colors.$pink;
    color: colors.$white;
    transition: 0.2s;

    &:hover {
      filter: brightness(90%);
    }
  }
}
