<!-- <div class="container">
  <app-landing-page-header></app-landing-page-header>
  <div class="main">
    <app-landing-page-content></app-landing-page-content>
    <app-landing-page-footer class="footer"></app-landing-page-footer>
  </div>
 
</div> -->
<div class="container">
  <header>
    <app-landing-page-header></app-landing-page-header>
  </header>
  <main>
    <app-landing-page-content></app-landing-page-content>
    <app-landing-page-footer class="footer"></app-landing-page-footer>
  </main>
</div>
