@use "colors";
main {
  position: relative;
  text-align: center;
  scrollbar-gutter: stable;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  background-image: colors.$gradient;
  overflow-y: hidden;
}
