@use "button-mixins";
@use "colors";

:host {
  @include button-mixins.social-login-button-styles;
  background-color: colors.$black;
  color: colors.$white;
  transition: 0.2s;
  &:hover {
    background-color: colors.$dark-grey;
  }
}
