@use "button-mixins";
@use "colors";

:host {
  background-color: colors.$white;
  color: colors.$black;
  @include button-mixins.social-login-button-styles;
  transition: 0.25s;
  &:hover {
    background-color: colors.$grey;
  }
}
