<app-brand-section class="brand-panel--desktop"></app-brand-section>
<app-logo
  class="logo--mobile"
  [width]="'150'"
  [height]="'auto'"
  [routerLink]="'/'"
></app-logo>

<section class="form-container">
  <h1 class="welcome-text">
    {{ "registerPage.form.createNewAccount" | transloco }}
  </h1>
  <form class="form">
    <div class="form__controls">
      <div class="form__control">
        <label for="email" class="form__control--label">{{
          "registerPage.form.emailLabel" | transloco
        }}</label>
        <input
          class="form__control--input"
          type="text"
          name="email"
          id="email"
        />
      </div>
      <div class="form__control">
        <label for="login" class="form__control--label">{{
          "registerPage.form.loginLabel" | transloco
        }}</label>
        <input
          class="form__control--input"
          type="text"
          name="login"
          id="login"
        />
      </div>
      <div class="form__control">
        <label for="password" class="form__control--label">{{
          "registerPage.form.passwordLabel" | transloco
        }}</label>
        <input
          class="form__control--input"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <div class="form__control">
        <label for="confirm-password" class="form__control--label">{{
          "registerPage.form.confirmPasswordLabel" | transloco
        }}</label>
        <input
          class="form__control--input"
          type="password"
          name="confirm-password"
          id="confirm-password"
        />
      </div>
      <a class="button" type="submit">{{
        "registerPage.form.signUp" | transloco
      }}</a>
    </div>
    <mat-divider></mat-divider>
    <div class="form__buttons">
      <p class="text--bold">
        {{ "registerPage.form.haveAccount" | transloco }}
        <span class="text--bold text--purple" [routerLink]="['/signin']">{{
          "registerPage.form.signIn" | transloco
        }}</span>
      </p>
    </div>
  </form>
</section>
<app-mobile-footer-dark class="footer--mobile"></app-mobile-footer-dark>
