<app-brand-section class="brand-panel--desktop"></app-brand-section>
  <app-logo class="logo--mobile" [width]="'250'" [height]="'auto'" [routerLink]="'/'"></app-logo>

<section class="form-container">
  <h1 class="welcome-text">Create new account!</h1>
  <form class="form">
    <div class="form__controls">
      <div class="form__control">
       <label for="" class="form__control--label">Email</label>
       <input class="form__control--input" type="text">
      </div>
      <div class="form__control">
        <label for="" class="form__control--label">Login</label>
       <input class="form__control--input" type="text">
      </div>
      <div class="form__control">
        <label for="" class="form__control--label">Password</label>
        <input class="form__control--input" type="password">
      </div>
      <div class="form__control">
        <label for="" class="form__control--label">Confirm Password</label>
       <input class="form__control--input" type="password">
      </div>
      <a class="button" type= "submit">Sign up</a>

    </div>
    <mat-divider></mat-divider>
    <div class="form__buttons">
      <p class="text--bold">
        Already have an account?
        <span class="text--bold text--purple" [routerLink]="['/signin']"
          >Sign in!</span
        >
      </p>
    </div>
  </form>
</section>
