<div class="logo">
  <app-logo
    [width]="logoWidth"
    [height]="logoHeight"
    [routerLink]="'/'"
  ></app-logo>
</div>
<div class="hamburger">
  @if (isMenuExpanded) {
  <i
    [@inOutAnimation]
    class="fa-solid fa-xmark fa-2xl icon"
    style="color: #ffffff"
    (click)="changeMobileMenuState()"
  ></i>

  } @else {
  <i
    [@inOutAnimation]
    class="fa-solid fa-bars fa-2xl icon"
    style="color: #ffffff"
    (click)="changeMobileMenuState()"
  ></i>

  }
</div>
@if (isMenuExpanded) {
<ul class="hamburger-nav" [@inOutAnimation]>
  <li class="nav__item">
    <a [routerLink]="'/'">Home</a>
  </li>
  <li class="nav__item">
    <a [routerLink]="'/signin'">Sign in</a>
  </li>
  <li class="nav__item">
    <a [routerLink]="'signup'">Join us</a>
  </li>
</ul>
}

<ul class="nav">
  <li class="nav__item">
    <a [routerLink]="'/'">Home</a>
  </li>
  <li class="nav__item">
    <a [routerLink]="'/signin'">Sign in</a>
  </li>
  <li class="nav__item">
    <button [routerLink]="'/signup'" class="button">
      <span>Join us</span>
    </button>
  </li>
</ul>
