<div class="logo">
  <app-logo
    [width]="logoWidth"
    [height]="logoHeight"
    [routerLink]="'/'"
  ></app-logo>
</div>
<!-- <div class="hamburger">
    <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff"></i>
  </div> -->
<!-- <ul class="hamburger-nav">
    <li class="nav__item">
      <a [routerLink]="'/'">Home</a>
    </li>
    <li class="nav__item">
      <a [routerLink]="'/signin'">Sign in</a>
    </li>
    <li class="nav__item">
      <a [routerLink]="'signup'">Join us</a>
    </li>
  </ul> -->

<ul class="nav">
  <li class="nav__item">
    <a [routerLink]="'/'">Home</a>
  </li>
  <li class="nav__item">
    <a [routerLink]="'/signin'">Sign in</a>
  </li>
  <li class="nav__item">
    <button [routerLink]="'/signup'" class="button">
      <span>Join us</span>
    </button>
  </li>
</ul>
