<form class="info" [formGroup]="userDataForm">
  <div class="control">
    <label
      class="control--label"
      for="email"
      [ngClass]="!isEmailEditEnabled ? 'label--disabled' : ''"
      >{{
        "profileSettingsPage.userDataSection.userInfoPage.form.emailLabel"
          | transloco
      }}</label
    >
    <input
      class="control--input"
      type="text"
      name="email"
      id="email"
      [placeholder]="user()?.email"
      formControlName="email"
      [ngClass]="!isEmailEditEnabled ? 'input--disabled' : ''"
    />
  </div>
  <div class="control">
    <label class="control--label" for="firstName">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.firstNameLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="text"
      name="firstName"
      id="fitstName"
      [placeholder]="user()?.firstName"
      formControlName="firstName"
    />
  </div>
  <div class="control">
    <label class="control--label" for="lastName">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.lastNameLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="text"
      name="lastName"
      id="lastName"
      [placeholder]="user()?.lastName"
      formControlName="lastName"
    />
  </div>

  <button class="upgrade" (click)="onUpgrade()">
    {{ "profileSettingsPage.userDataSection.userInfoPage.upgrade" | transloco }}
  </button>
</form>
<mat-divider></mat-divider>
<form class="passwords" [formGroup]="userPasswordsForm">
  <div class="control">
    <label class="control--label" for="password">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.passwordLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="password"
      name="password"
      id="password"
      formControlName="password"
    />
  </div>
  <div class="control">
    <label class="control--label" for="confirm-password">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.confirmPasswordLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="password"
      name="confirm-password"
      id="confirm-password"
      formControlName="confirmPassword"
    />
  </div>
  <button class="upgrade" (click)="onChangePassword()">
    {{
      "profileSettingsPage.userDataSection.userInfoPage.changePassword"
        | transloco
    }}
  </button>
</form>
