<p>user-info-page works!</p>
<form class="info">
  <div class="control">
    <label class="control--label" for="name"></label>
    <input class="control--input" type="text" name="name" id="name" />
  </div>
  <div class="control">
    <label class="control--label" for="surname"></label>
    <input class="control--input" type="text" name="surname" id="surname" />
  </div>
  <div class="control">
    <label class="control--label" for="username"></label>
    <input class="control--input" type="text" />
  </div>

  <div class="control">
    <label class="control--label" for=""></label>
    <input class="control--input" type="text" />
  </div>
  <div class="control">
    <label class="control--label" for=""></label>
    <input class="control--input" type="text" />
  </div>
  <div class="control">
    <label class="control--label" for=""></label>
    <input class="control--input" type="text" />
  </div>
</form>
