<form class="info">
  <div class="control">
    <label class="control--label" for="name">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.nameLabel"
        | transloco
    }}</label>
    <input class="control--input" type="text" name="name" id="name" />
  </div>
  <div class="control">
    <label class="control--label" for="surname">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.surnameLabel"
        | transloco
    }}</label>
    <input class="control--input" type="text" name="surname" id="surname" />
  </div>
  <div class="control">
    <label class="control--label" for="username">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.usernameLabel"
        | transloco
    }}</label>
    <input class="control--input" type="text" name="username" id="username" />
  </div>

  <div class="control">
    <label class="control--label" for="email">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.emailLabel"
        | transloco
    }}</label>
    <input class="control--input" type="text" name="email" id="email" />
  </div>
  <div class="control">
    <label class="control--label" for="password">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.passwordLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="password"
      name="password"
      id="password"
    />
  </div>
  <div class="control">
    <label class="control--label" for="confirm-password">{{
      "profileSettingsPage.userDataSection.userInfoPage.form.confirmPasswordLabel"
        | transloco
    }}</label>
    <input
      class="control--input"
      type="password"
      name="confirm-password"
      id="confirm-password"
    />
  </div>
  <button class="upgrade">
    {{ "profileSettingsPage.userDataSection.userInfoPage.upgrade" | transloco }}
  </button>
</form>
