@use "colors";
@use "typography";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: colors.$white;
  margin-bottom: 15px;
  box-shadow: 4px 4px 5px rgba(colors.$black, 0.1);
}

.post__name {
  margin-left: 15px;
  font-size: 24px;
  font-weight: typography.$font-weight-regular;
}

.post__actions {
  padding: 10px;
  border-left: 1px solid colors.$grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  i {
    margin: 0 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: colors.$purple !important;
    }
  }

 
}
