<!-- <p class="post__name">{{ "displayedPost.postName" | transloco }}</p> -->
<input
  type="text"
  class="post__title"
  [placeholder]="post ? post.title : ('displayedPost.postName' | transloco)"
/>
<div class="post__actions">
  <i
    class="fa-solid fa-copy fa-xl"
    style="color: #000000"
    [matTooltip]="'displayedPost.actions.copy' | transloco"
    [matTooltipPosition]="'above'"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    (click)="onCopyDescription()"
  ></i>
  <i
    class="fa-solid fa-trash fa-xl"
    style="color: #000000"
    [matTooltip]="'displayedPost.actions.delete' | transloco"
    [matTooltipPosition]="'above'"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    (click)="onDeletePost()"
  ></i>
  <i
    class="fa-solid fa-image fa-xl"
    style="color: #000000"
    [matTooltip]="'displayedPost.actions.saveImage' | transloco"
    [matTooltipPosition]="'above'"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    (click)="onSaveImage()"
  ></i>
  <i
    class="fa-solid fa-floppy-disk fa-xl"
    style="color: #000000"
    [matTooltip]="'displayedPost.actions.saveTitle' | transloco"
    [matTooltipPosition]="'above'"
    matTooltipClass="custom-tooltip"
    matTooltipHideDelay="100"
    (click)="onSaveTitle()"
  ></i>
</div>
