<section class="slogan">
  <h1>
    {{ "landingPage.content.slogan" | transloco }}&nbsp;<span class="bold"
      >AI!</span
    >
  </h1>
  <button [routerLink]="['signup']" class="button">
    <span>{{ "landingPage.content.signUp" | transloco }}</span>
  </button>
</section>
<section class="example-post">
  <app-example-post-desktop
    class="example-post--desktop"
  ></app-example-post-desktop>
  <app-example-post-mobile
    class="example-post--mobile"
  ></app-example-post-mobile>
</section>
