@use "colors";
@use "typography";
@use "button-mixins.scss";

:host {
  display: flex;
  width: 100%;
  color: colors.$white;
  gap: 2%;
}

h1 {
  font-size: 62px;
  font-weight: typography.$font-weight-light;
  text-align: left;
  margin: 0;
}

.bold {
  font-weight: typography.$font-weight-bold;
}

.slogan {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example-post {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  &--desktop {
    display: block;

}

&--mobile {
    display: none;
}
}


.button {
  @include button-mixins.button-styles;
  margin: 60px 0;
  width: 200px;
  min-height: 75px;
  border: 1px solid transparent;
  background-color: colors.$white;
  transition: 0.25s;
  span {
    font-size: 24px;
    background: colors.$gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &:hover {
    background-color: colors.$grey;
  }
}


@media screen and (max-width: 1280px) {
:host {
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.slogan {
  width: 100%;
  align-items: center;

}
.example-post {
  width: 100%;
}

}


@media screen and (max-width: 768px) {

  :host {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
  }
  
  .slogan {
    width: 100%;
    align-items: center;
  }
  .example-post {
    width: 100%;
  }

  .example-post {

      &--desktop {
          display: none;
  
      }
  
      &--mobile {
          display: block;
      }
  }

  

}

@media screen and (max-width: 480px) {
  :host {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 50px;
  }
  
  .slogan {
    width: 100%;
    align-items: center;

  }
  .example-post {
    width: 100%;
  }

  .example-post {

      &--desktop {
          display: none;
  
      }
  
      &--mobile {
          display: block;
      }
  }
}
