<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
<div class="post__wrapper">
  <app-gallery-post-element class="small"></app-gallery-post-element>
</div>
