:host {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 10px;
  gap: 5px;
}

.post__wrapper {
  overflow: hidden;
  height: 250px;
  width: 170px;
}

.small {
  display: block;
  overflow: hidden;
  transform-origin: 0 0;
  transform: scale(0.3);
  z-index: 4;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(0.33);
  }
}
