:host {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 10px;
  // gap: 25px;
}

.post__wrapper {
  overflow: hidden;
  height: 200px;
  width: 125px;
}

.small {
  display: block;
  overflow: hidden;
  transform-origin: 0 0;
  transform: scale(0.2);
  z-index: 4;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    transform: scale(0.23);
  }
}
